/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.mod-footer,.mod-header{
    background-color: teal;
  }
    .logo a{
      color:white;
      font-family: 'Lobster', cursive;
      font-size:23px;
      text-decoration: none;
      text-shadow: 1px 1px 1px yellow;
    }
    .nav-bar{
      background-color: teal;
    }
    .links ul li a{
      color:white;
    }
    .links ul li a:hover{
      color:teal;
    }
    .collapse-button{
      background-color: white;
      color:teal;
    }
    .coll-btn:hover{
      text-shadow: 1px 1px 1px yellow;
      cursor:pointer;
    }
    .coll-btn{
      background-color: teal;
      color: white;
      
      height: 38px;
    }
    .glyphicon-menu-hamburger{
      font-size: 20px;
    }
    footer{
      background-color: teal;
      color: white;
    }